* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* VARIABLES */

:root {
  --primary: #EA227A;
  --white: #FAFAFA;
  --black: #535461;
  --button: #FFD93D;
}

/* GENERAL */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  overflow-x: hidden;
  color: var(--black);
}

.button {
  z-index: 1;
  border: none;
  background: var(--button);
  padding: .5rem 1rem;
  border-radius: .5rem;
  position: relative;
  cursor: pointer;
  font-size: .75rem;
  font-weight: bold;
  transition: .25s box-shadow ease-out;
  color: var(--black);
  border: 4px solid rgba(255, 255, 125, .25);
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .15);
} 

.button:hover {
  border: 4px solid var(--button);
  box-shadow: none;
}
