header {
  background: var(--primary);
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  z-index: 9;
}

header .logo {
  height: 2.5rem;
  width: 2.5rem;
}

header .actions {
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  font-size: .875rem;
}

header .actions li {
  width: 3.6rem;
  text-align: center;
}

header .actions li a {
  letter-spacing: .1rem;
  font-weight: 200;
  color: var(--white);
}

header .actions li a:hover {
  font-weight: 400;
}

/* SECTIONS */

section {
  padding: 0 4rem;
}

section.home-info {
  background: var(--primary);
  height: 40rem;
  padding-top: 5rem;
  color: var(--white);
  display: flex;
}

section.home-info .left {
  padding: 4rem 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
}

section.home-info .left p:nth-child(1) {
  font-weight: 400;
  letter-spacing: .2rem;
}

section.home-info .left h1 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

section.home-info .left .description {
  font-size: .875rem;
  margin-bottom: .75rem;
}

section.home-info .left h1 span:nth-child(1) {
  color: var(--button);
}

section.home-info .left h1 span.reread {
  font-size: 3.6rem;
}

section.home-info .right {
  height: 100%;
  width: 40%;
  position: relative;
}

section.home-info .right img {
  position: absolute;
  width: 28rem;
  left: 0;
  top: 4.5rem;
}

section.home-info p {
  font-weight: 200;
}

section.about-the-game {
  position: relative;
  height: 12.5rem;
}

section.about-the-game .center {
  width: 100%;
  position: absolute;
  top: -10rem;
  display: flex;
}

section.about-the-game .center .left {
  z-index: 1;
  height: 20rem;
  width: 50%;
  padding: 1rem;
  background: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
}

section.about-the-game .center .left .fliperama {
  width: 60%;
  margin-left: -2rem;
}

section.about-the-game .center .left .description {
  width: 40%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

section.about-the-game .center .left .description h3 {
  font-size: 2rem;
}

section.about-the-game .center .left .description p {
  font-weight: 200;
  font-size: 0.75rem;
}

section.about-the-game .center .left .description .button {
  width: 50%;
  text-align: center;
}

section.about-the-game .center .right {
  color: var(--white);
  margin-left: -.75rem;
  margin-top: 2.5rem;
  height: 15rem;
  width: 40%;
  padding: 1rem 1rem 1rem 2rem;
  background: var(--primary);
  border-radius: 1rem;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

section.about-the-game .center .right .topic .illustration {
  height: 4rem;
  margin-right: 1rem;
}

section.about-the-game .center .right .topic .description {
  font-size: .75rem;
  width: 95%;
}

section.about-the-game .center .right .topic {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.game-modes {
  background: var(--white);
}

section.game-modes h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}

section.game-modes .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

section.game-modes .cards .card {
  background: #FFF;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
  border-radius: .5rem;
  box-shadow: 0 4px 3px 0px rgba(0, 0, 0, .2);
  height: 6.25rem;
  width: 16rem;
}

section.game-modes .cards .text {
  font-weight: bold;
  width: 70%;
}

section.game-modes .cards .text span {
  color: var(--primary);
}

section.game-modes .cards .card a {
  background: var(--white);
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  bottom: -1.25rem;
  left: 1rem;
  border: 2px solid var(--white);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .25);
  transition: .25s ease-out;
}

section.game-modes .cards .card a:hover {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  width: 6rem;
}

section.game-modes .cards .card a:hover::before {
  transition: .25s ease-out;
  content: 'Play';
  color: var(--black);

  padding: 1rem;
}

section.game-modes .cards .card a:hover img {
  margin-left: -.5rem;
}

section.game-modes .cards .card .illustration img {
  height: 5rem;
}

section.stats {
  margin-top: 4rem;
  background: var(--primary);
}
